.header {
  background-color: #00324e;
  display: flex;
  width: 100%;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
  }
}
